.logIn {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a4938b;
  }
  
  .googleButton {
    position: relative;
    left: 37%;
    top: 50%;
    width: 360px;
    height: 46px;

  }
  
  .mainFrame {
    box-shadow: 0px 0px 10px black;
    margin: 0px auto;
    width: 90%;
  }
  
  .miniFrame {
    height: 1000px;
  }
  
  #whiteArea {
    background-color: #f8f8f8;
  }
  
  #brownArea {
    background-color: #f2eeed;
  }
  
  #logo {
    display: block;
    width: 436px;
    height: 394px;
    position: relative;
    left: 34%;
    background-image: url('./images/logo.png')
  }

  #userPhoto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 4px;
  }

  #helloMessage {
    font-family: 'Oswald';
    color: #241c18;
    font-size: 18px;
    position: relative;
    left: 10px;
  }


  #bandImg {
    position: absolute;
    top: 110px;
    left: 500px;
  }

  #AdminTitle {
    position: absolute;
    top: 520px;
    left: 470px;
    font-size: 60px;  
    font-family: 'Oswald';
  }

  #CreateListOfShowsButton {
    width: 200px;
    position: absolute;
    top: 710px;
    left: 615px;  
    background-color: #826b60;
    color: #f8f8f8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #CreateListOfShowsButton:disabled, #CreateListOfShowsButton[disabled] {
    width: 200px;
    position: absolute;
    top: 710px;
    left: 615px;  
    background-color: #826b60;
    opacity: 0.6;
    color: #f8f8f8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 22px;
    margin: 4px 2px;
    cursor: not-allowed;
  }
  
  #selectedAlbum {
    float: left;
    position: relative;
    left: 18%;
    border-radius: 10%;
  }
  
  #albumsTitle {
    position: relative;
    top: 350px;
    left: -12%;
    font-family: 'Oswald';
    color: #241c18;
    font-size: 26px;
  }
  
  #albumsList {
    float: left;
    position: relative;
    top: 360px;
    left: -13%;

    width: 50%;
    height: 500px;
    overflow: scroll;
  }
  
  .albumName {
    color: #241c18;
    font-size: 17px;
    font-family: 'Oswald';
    position: relative;
    top: 8px;
    display: inline;
  }
  
  .showSongsButton {
    float: right;
    position: relative;
    right: 50px;
    background-color: #826b60;
    color: #f8f8f8;
    width: 130px;
    height: 38px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.6;
  }

  #submitButton:hover {
    opacity: 0.6;
  }
  
  .album {
    margin-bottom: 22px;
  }
  
  #countryTitle {
    font-family: 'Oswald';
    color: #241c18;
    font-size: 26px;
    float: right;
    position: absolute;
    right: 200px;
    top: -400px;
  }
  
  #songsTitle {
    font-family: 'Oswald';
    color: #241c18;
    font-size: 26px;
    float: right;
    position: relative;
    top: -21%;
    left: -70%;
  }
  
  .dropDownCountries {
    float: right;
    position: absolute;
    top: -300px;
  }
  
  #dropDown {
    width: 400px;
    height: 30px;
  }
  
  .options {
    font-size: 15px;
  }


 #checkboxesDiv {
  overflow: scroll;
  height: 450px;
 } 
  #songsList {
    position: absolute;
    top: 490px;
    right: 170px;
    width: 450px;
    height: 450px;

  }

  .songsNames {
    font-family: 'Oswald';
    color: #241c18;
    font-size:20px;
  }

  #submitButton {
    background-color: #826b60;
    color: #f8f8f8;
    width: 130px;
    height: 38px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 460px;
  }

  #successMessage {
    font-family: 'Oswald';
    color: #241c18;
    font-size: 40px;
    position: relative;
    top: 400px;
    text-align: center;
  }

  #tourh1 {
    font-family: 'Oswald';
    color: #241c18;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30px;
  }

  #showsList {
    height: 700px;
    width: 515px;
    position: relative;
    left: 100px;
    top: 50px;
    display: inline-block;
    overflow: scroll;
  }

  .showCountry {
    font-family: 'Oswald';
    display: inline-block;
    color: #241c18;
    font-size: 24px;
    position: relative;
    left: 20px;
  }

  .showDate {
    font-family: 'Oswald';
    display: inline-block;
    color: #241c18;
    font-size: 28px;
    position: relative;
    left: 3px;
  }

  .shows {
    border-bottom: 2px dotted #241c18;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }


  .removeButton {
    background-color: #a23131;
    opacity: 0.8;
    float: right;
    margin-left: 4px;
    color: #f8f8f8;
    width: 75px;
    height: 31px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 5px;
  }
  
  .displayShowSongsButton {
    background-color: #826b60;
    float: right;
    margin-left: 4px;
    color: #f8f8f8;
    width: 75px;
    height: 31px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 5px;
  }

  .playListSongs {
    display: block;
  }

  #playlist {
    float: right;
    position: relative;
    top: 150px;
    right: 80px;
  }

  #playListTitle {
    position: absolute;
    top: -100px;
    right:200px;
    width: 130px;
    font-family: 'Oswald';
    color: #241c18;
    font-size: 26px;
  }

  #removeAllButton {
    position: relative;
    
  }